.iconSidebar {
    height: 108vh;
    width:80px;
    background-color: rgb(32,41,52);
    position: absolute;
    top:0;
    left:0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
.icons {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top:  0.2px solid rgb(86, 90, 93, .8);
    /* margin: 1em 0; */
    padding: 0;
}